.titulo1{
    text-align: center;
}
.pagina{
    background-color: antiquewhite;
}
.imagem1{
    width: 1000px;
    image-rendering: auto;
    margin-left: 130px;
    
    
    
}

.imagem2{
    width: 1000px;
    image-rendering: auto;
    margin-left: 130px;
    
}

.titulo2{
    text-align: center;
}

